* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  @apply bg-[#272829] flex flex-col justify-center p-4 ;
}
.app > * {
  @apply rounded-md;
}
.app_inner {
  display: flex;
  gap: 10px;
  height: calc(100vh - 7rem);
  padding: 10px 0;
}
.fontheading {
  font-family: "Smooch", cursive;
}
