.app_top{
  @apply flex items-center  h-20 bg-[#C5DFF8] text-3xl p-4 justify-between ;
}
.account_container{
@apply flex gap-6 items-center;
}
.account{
@apply flex gap-6 items-center;
}
.main_date{
  @apply bg-black;
}
.main_date_top {
  @apply bg-red-600;
}
.account a{
  display: inline-flex;
  text-decoration: none;
  font-size: medium;
}