*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.forgot_password{
    @apply bg-slate-600 h-screen flex flex-col justify-center items-center ;
}
.form_forgot{
    @apply  w-5/12 max-w-lg     p-2 ;
}
.form_forgot > *{
    @apply flex-auto;
}